@model pivotal.wall.web.Models.ProjectViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h1>Project @Model.Name</h1>

<ul class="columns">
@foreach (var column in @Model.Columns)
{
    <li>
        <h2>@column.Title</h2>
        <ul class="stories">
        @foreach (var story in @column.Stories)
        {
            <li>
                <span class="title">@story.Title</span>
                <span class="points">@story.Points pts</span>
                <span class="owner">@story.Owner</span>
            </li>
        }
        </ul>
    </li>
}
</ul>

